:root {
  font-size: 18px;
  
  --gray: #FDFDFD;
  --black: #000000;
  --white: #FFFFFF;

  /* HOME */
  --home-primary-color: #423958;
  --home-primary-color-400: #80749B;
  --home-primary-color-350: #C1B1E6;
  --home-primary-color-300: #CABDE9;
  --home-primary-color-200: #D5CCEB;
  --home-primary-color-100: #E6E2F0;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
};