.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;

  .header {
    color: purple;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-right: 1rem;
      font-size: 2rem;
    };
  };
  
  .body {
    display: grid;
    grid-template-columns: repeat(25, 1.4rem);
    grid-template-rows: repeat(25, 1.4rem);
    border: 2px solid purple;

    .item {
      background-color: black;
      min-width: 1.4rem;
      min-height: 1.4rem;

      &.snake {
        background-color: purple;
      };

      &.snakeHead {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(105, 4, 105);
      };

      &.active {
        background-color: white;
      };
    };
  };
};